.drop {

}

.drop-item {
  cursor: default;
  border-radius: .7em;
  background-color: $theme-primary;
  transition-property: background-color;
  transition-duration: 500ms;
  margin-bottom: 1em;
}

.drop-item__user-profile {
  color: $theme-primary-font;
  font-weight: bolder;

  &:hover {
    text-decoration: underline;
  }
}
