<section>
  <span class="before__mask before__mask-go-back" @click="$router.go(-1)" />
  <template v-if="geolocalized && drop.id">
    <b-card
      class="drop-item"
      header-tag="header"
      :footer="drop.createdDate | formatDate"
    >
      <b-card-text>
        {{ drop.body }}
      </b-card-text>
      <div class="card-section">
        <img :src="staticMap(drop)" />
      </div>
      <template v-slot:header>
        <span @click.stop><router-link class='drop-item__user-profile' :to="'/'+drop.author.username">{{ drop.author.username }}</router-link></span>
      </template>
    </b-card>
  </template>
</section>