.posts {

}

.posts-list {
    margin-top: 1em;
}

.posts-list-transition-enter, .posts-list-transition-leave-to {
    transform: translateY(0)
}

.posts-list__item {
    cursor: pointer;
    border-radius: .7em;
    background-color: $theme-primary;
    margin-bottom: 1em;
    transition: transform 500ms;

    &:hover {
        background-color: $theme-primary-lighter;
    }
}

.posts-list__walking-distance {
    max-width: 1em;
}