.post-list {
    margin-top: 1em;
}

.post-list-transition-enter, .post-list-transition-leave-to {
    transform: translateY(0)
}

.post-list__item {
    cursor: pointer;
    border-radius: .7em;
    background-color: $theme-primary;
    margin-bottom: 1em;
    transition: transform 500ms;

    &:hover {
        background-color: $theme-primary-lighter;
    }
}

.post-list__walking-distance {
    max-width: 1em;
}