.drop-message {
}

.drop-message__form {
    border-bottom: 10px solid $theme-primary-lighter;
    margin-bottom: 1em;
    padding-bottom: 1em;
}

.drop-message__form__message {
    background-color: $theme-primary;
    color: $theme-primary-font;
    border: none;

    &:focus {
        background-color: $theme-primary;
        color: $theme-primary-font;

        &::placeholder {
        }
    }
}