.drop-form {
    margin-bottom: 1em;
}

.drop-form__form {
    border-bottom: 10px solid $theme-primary-lighter;
    padding-bottom: 1em;
}

.drop-form__form__message {
    background-color: $theme-primary;
    color: $theme-primary-font;
    border: none;

    &:focus {
        background-color: $theme-primary;
        color: $theme-primary-font;
    }
}