.navigation {
    padding: 1em 0;
    color: $theme-primary-font;
    font-weight: bolder;

    .btn {
        font-weight: inherit;
    }
}

.before__mask-home {
    padding-left: 2em;

    &::before {
        mask: url('~@/assets/img/noun_Home_2381923.svg');
        width: 1.5em;
        height: 1.5em;
        top: calc(50% - (1.5em/2));
    }
    &:hover {
        &::before {
            background-color: $theme-secondary;
        }
    }
}