.post {

}

.post-item {
  cursor: default;
  border-radius: .7em;
  background-color: $theme-primary;
  transition-property: background-color;
  transition-duration: 500ms;
  margin-bottom: 1em;

}

.before__mask-go-back {
  cursor: pointer;
  display: inline-block;
  height: 3em;

  &:hover {
    &::before {
      background-color: $theme-secondary;
    }
  }

  &::before {
    mask: url('~@/assets/img/noun_back_1144382.svg');
  }
}
