body {
    background-color: $theme-primary;
    color: $theme-primary-font;
}

.btn {
    background-color: $theme-secondary;
    border: none;
    font-weight: bolder;
    border-radius: 1em;

    &:disabled, &:hover  {
        background-color: $theme-secondary-darker;
    }
}

.before__mask {
    position: relative;
    padding-left: 3em;

    &::before {
        mask-repeat: no-repeat;
        mask-position: left;
        background-color: $theme-primary-font;
        position: absolute;
        height: 3em;
        width: 3em;
        top: calc(50% - (3em/2));
        left: 0;
        bottom: 0;
        right: 0;
        content: "";
    }
}

.before__mask-go-back {
    cursor: pointer;
    display: inline-block;
    height: 3em;

    &:hover {
      &::before {
        background-color: $theme-secondary;
      }
    }

    &::before {
      mask: url('~@/assets/img/noun_back_1144382.svg');
    }
  }