<section>
  <template v-if="geolocalized && drop.id">
    <b-card
      @click="goToDropItem(drop.id)"
      header-tag="header"
      class="drop-list__item"
    >
      <b-card-text>
        {{ drop.body }}
      </b-card-text>
      <template v-slot:header>
        <a :href="'/users/' + drop.authorId">{{ drop.author.username }}</a> · {{ drop.createdDate | formatDate }} · <img class="drop-list__item__walking-distance" src="@/assets/img/noun_Walking_112220.svg" />{{ drop.distance | formatDistance }}
      </template>
    </b-card>
  </template>
</section>